body {
    background-color: #ffffee;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.app {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.fadein, .fadein > h1 {
    animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
